/* General Rules */
body {
  font-family: 'Andale Mono', Courier,'Arial Narrow', monospace;
  box-sizing: border-box;
  background-color: #FCFF6C;
}

header, footer{
  background-color: #6D454C;
  font-family: 'Andale Mono', Courier,'Arial Narrow', monospace;
  color: #E9a86e;
  padding: 25px 0px;
}

/* Positioning of elements */
.group {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.item {
  flex: 1;
  display: inline;
}

.center {
  margin: 0 5%;
}

/* Box Sizing */
img{
  width: 40px;
}

.project {
  min-width: 140px;
}

#about img {
  max-width: 400px;
  width: 90%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
}

#contact li{
  width: 40px;
}

/* Navigation */
header h1 {
  margin: 0px;
  text-align: center;
}

header nav{
  flex-direction: row;
  justify-content: center;
}

header nav ul.group {
  list-style: none;
  flex-direction: row;
  padding: 0px;
  justify-content: center;
}

header nav ul li a{
  text-decoration: none;
  margin: 0 20px 0 0;
  font-family: 'Andale Mono', Courier,'Arial Narrow', monospace;
  color: inherit;
}

header nav ul li:last-child a{
  margin-right: 0;
}

/* Color Scheme */
#about, #contact{
  background-color: #D7FFAB;
}

#projects, #intro, #about, #contact{
  color: #222C3C;
  margin: 0px;
  padding: 20px;
} 

/* Project Tiles */
.project {
  border-radius: 20px;
  background-color: #D89D6A;
  margin: 5px;
}
.project > img {
  width: 80%;
  display: block;
  margin: 20px auto 0 auto;
  border-radius: 20px;
}
.project > div{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.project-links {
  text-align: center;
  margin: 8px 0px;
}

/* Typography */
h1{
  font-size: 2.4em;
  font-weight: 700;
}

h2 {
  text-align: center;
  font-size: 1.8em;
  font-weight: 900;
}

h3 {
  font-size: 1.4em;
  font-weight: 900;
}

p{
  font-size: 1em;
}

a {
  font-size: 1.4em;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
}

/* Contact Section with Form */
#contact div ul.group {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#contact div ul.group li a img {
  width: 80%;
  background-color: white;
  border-radius: 50%;
  height: auto;
  max-width: 150px;
}
form div.item {
  justify-content: center;
}
form div.item textarea, form button {
  width: 100%;
}

/* Big Screen changes*/
@media all and (min-width: 700px){
  .group-row{
    flex-direction: row;
  }
  
  header.group {
    justify-content: space-between;
  }
}
